<!-- Row 2: Search Bar -->
<div>
  <nav class="navbar navbar-light bg-light justify-content-end">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</div>
<div class="my-2">
  <button type="button" class="btn btn-primary" 
  (click)="openDialog(modalCenter)"
  >
    <i class="fa fa-plus" aria-hidden="true"></i>
    Add Info
  </button>
</div>
<table class="table table-bordered">
  <thead class="thead-dark">
    <th>Name</th>
    <th>IdNo</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Country</th>
  </thead>
  <tbody class="tbody-light">
    <tr scope="row" *ngFor="let content of contents">
      <td>{{content.mxName}}</td>
      <td>{{content.mxIdNo}}</td>
      <td>{{content.mxEmail}}</td>
      <td>{{content.mxHandPhoneNo}}</td>
      <td>{{content.mxAddress}}</td>
      <td>{{content.mxCity}}</td>
      <td>{{content.mxState}}</td>
      <td>{{content.mxPostcode}}</td>
      <td>{{content.mxCountry}}</td>
    </tr>
  </tbody>
</table>
<!-- <div class="form-group col pl-1">
  <span class="mandatory" *ngIf="true">*&nbsp;</span>
  <label for="mx-test" class="col-form-label">Test Date</label>
    <div class="input-group-prepend" [owlDateTimeTrigger]="dtTest">
      <input 
      type="text"
      name="mx-test"
      [(ngModel)]="content.dateOfBirth"
      class="form-control"
      [owlDateTimeTrigger]="dtTest"
      [owlDateTime]="dtTest"
    />
      <div class="input-group-text">
        <i class="fa fa-calendar"></i>
      </div>
    </div>
    <owl-date-time class="date-picker-show-in-dialog" #dtTest></owl-date-time>
</div> -->
<!-- Form Modal/Dialog Customer Info-->
<ng-template #modalCenter let-modal>
<!-- <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document"> 
    <div class="modal-content">-->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Customer Info</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group col pl-1">
            <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
            <label for="mx-name" class="col-form-label">Customer Name</label>
            <input type="text" class="form-control" id="mx-name" name="mx-name" [(ngModel)]="content.mxName">
          </div>
          <div class="form-group col pl-1">
            <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
            <label for="mx-id-no" class="col-form-label">Id Number</label>
            <input type="text" class="form-control" id="mx-id-no" name="mx-id-no" [maxLength]="bankaccountlength" pattern="[0-9]+"
              (keypress)="onlyNumber($event)" (paste)="onPastenumeric($event)" [(ngModel)]="content.mxIdNo">
          </div>
          <div class="form-group col pl-1">
            <label for="mx-hand-phone" class="col-form-label">Hand Phone No</label>
            <input type="text" class="form-control" id="mx-hand-phone" name="mx-hand-phone" [(ngModel)]="content.mxHandPhoneNo">
          </div>
          <div class="form-group col pl-1">
            <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
            <label for="mx-email" class="col-form-label">Email</label>
            <input type="text" class="form-control" id="mx-email" name="mx-email" [(ngModel)]="content.mxEmail">
          </div>
          <div class="form-group col pl-1">
            <label for="mx-login-id" class="col-form-label">Login Id</label>
            <input type="text" class="form-control" id="mx-login-id" name="mx-login-id" [(ngModel)]="content.mxLoginId">
          </div>
          <div class="form-group col pl-1">
            <label for="mx-acc-id" class="col-form-label">Account Id</label>
            <input type="text" class="form-control" id="mx-acc-id" name="mx-acc-id" [(ngModel)]="content.mxAccountId">
          </div>
          <div class="form-group col pl-1">
            <span class="mandatory" *ngIf="true">*&nbsp;</span>
            <label for="mx-country" class="col-form-label">Country</label>
            <ng-select placeholder="Select Country" [items]="countryList" bindLabel="name" bindValue="code"
              name="mx-country" id="mx-country" [(ngModel)]="content.mxCountry" (change)="onChangeMxCountry($event)">
            </ng-select>
          </div>
          <div class="form-group mx-2">
            <span class="mandatory" *ngIf="true">*&nbsp;</span>
             <label for="mx-citizen" class="col-form-label">Citizenship</label>
            <!--<ng-select placeholder="Select Citizenship" [items]="citizenshipList" bindLabel="name" bindValue="code"
              name="mx-citizen" id="mx-citizen" [(ngModel)]="content.mxCitizen"
              (change)="onChangeMxCitizenship($event)">
            </ng-select> -->
            <div class="form-check">
              <input class="form-check-input" id="local-citizen" type="radio" name="mx-citizen" value="LCL" [(ngModel)]="content.mxCitizen" [checked]="content.mxCitizen === 'LCL'">
              <label class="form-check-label">
                Local
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" id="other-citizen" type="radio" name="mx-citizen" value="OTH" [(ngModel)]="content.mxCitizen">
              <label class="form-check-label">
                Other
              </label>
            </div>
          </div>
          <div class="form-group col pl-1">
            <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
            <label for="mx-nationality" class="col-form-label">Nationality</label>
            <div *ngFor="let nationality of countryList">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="mx-nationality" (change)="onChangeNationality($event)">{{nationality.name}}
              </div>
            </div>
          </div>
          <div class="form-group col pl-1">
            <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
            <label for="mx-address" class="col-form-label">Address</label>
            <textarea class="form-control" name="mx-address" [(ngModel)]="content.mxAddress"></textarea>
            <!-- <input type="text" class="form-control" id="mx-address"> -->
          </div>
          <div class="form-group col pl-1">
            <label for="mx-address-2" class="col-form-label">Address 2</label>
            <input type="text" class="form-control" id="mx-address-2" name="mx-address-2" [(ngModel)]="content.mxAddress2">
          </div>
          <div class="form-group col pl-1">
            <label for="mx-address-3" class="col-form-label">Address 3</label>
            <input type="text" class="form-control" id="mx-address-3" name="mx-address-3" [(ngModel)]="content.mxAddress3">
          </div>
          <div class="form-group col pl-1">
            <label for="mx-address-4" class="col-form-label">Address 4</label>
            <input type="text" class="form-control" id="mx-address-4" name="mx-address-4" [(ngModel)]="content.mxAddress4">
          </div>
          <div class="form-group col pl-1">
            <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
            <label for="mx-postcode" class="col-form-label">Postcode</label>
            <input type="text" class="form-control" id="mx-postcode" name="mx-postcode" [(ngModel)]="content.mxPostcode">
          </div>
          <div class="form-group col pl-1">
            <label for="mx-city" class="col-form-label">City</label>
            <input type="text" class="form-control" id="mx-city" name="mx-city" [(ngModel)]="content.mxCity">
          </div>
          <div class="form-group col pl-1">
            <label for="mx-state" class="col-form-label">State</label>
            <input type="text" class="form-control" id="mx-state" name="mx-state" [(ngModel)]="content.mxState">
          </div>
          <div class="form-group col pl-1">
            <span class="mandatory" *ngIf="true">*&nbsp;</span>
            <label for="mx-dob" class="col-form-label">Date Of Birth</label>
              <div class="input-group-prepend" [owlDateTimeTrigger]="dtDob">
                <input 
                type="text"
                name="mx-dob"
                [(ngModel)]="content.dateOfBirth"
                class="form-control"
                [owlDateTimeTrigger]="dtDob"
                [owlDateTime]="dtDob"
                [max]="maxDate"
                [min]="minDate"
              />
                <div class="input-group-text">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
              <owl-date-time #dtDob></owl-date-time>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-target="#modalCenter" (click)="modal.dismiss('Cross click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="openDialog(addrTempModal)"
        >Next <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
        </button>
      </div>
  <!--  </div>
   </div>
</div> -->
</ng-template>

<!-- Form Modal/Dialog Address Book-->
<ng-template #addrTempModal let-modal>
  <!-- <div class="modal fade" id="addrModal" tabindex="-1" role="dialog" aria-labelledby="addrTitleModal"
    aria-hidden="true">
    <div class="modal-dialog"> 
      <div class="modal-content">-->
        <div class="modal-header">
          <h5 class="modal-title" id="addrTitleModal">Add Addresses</h5>
          <button type="button" class="close" data-dismiss="modal" data-target="#addrModal" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group mx-2">
              <span class="mandatory" *ngIf="true">*&nbsp;</span>
              <label for="mx-country" class="col-form-label">Country</label>
              <ng-select placeholder="Select Country" [items]="countryList" bindLabel="name" bindValue="code"
                name="mx-country" id="mx-country" [(ngModel)]="content.mxCountry" (change)="onChangeMxCountry($event)">
              </ng-select>
            </div>
            <div class="form-group mx-2">
              <span class="mandatory" *ngIf="true">*&nbsp;</span>
              <label for="mx-citizen" class="col-form-label">Citizenship</label>
              <!-- <ng-select placeholder="Select Citizenship" [items]="citizenshipList" bindLabel="name" bindValue="code"
                name="mx-citizen" id="mx-citizen" [(ngModel)]="content.mxCitizen"
                (change)="onChangeMxCitizenship($event)">
              </ng-select> -->
              <div class="form-check">
                <input class="form-check-input" id="local-citizen" type="radio" name="mx-citizen" value="LCL" [(ngModel)]="content.mxCitizen" [checked]="content.mxCitizen === 'LCL'">
                <label class="form-check-label">
                  Local
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" id="other-citizen" type="radio" name="mx-citizen" value="OTH" [(ngModel)]="content.mxCitizen">
                <label class="form-check-label">
                  Other
                </label>
              </div>
            </div>
            <div class="form-group row mx-2">
              <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
              <label for="mx-nationality" class="col-form-label">Nationality</label>
              <input type="text" class="form-control" id="mx-nationality" name="mx-nationality"
                [ngModel]="content.mxNationality"
                [value]="content.mxCitizen === 'LCL' && content.mxCountry !== '' ? content.mxCountry : ''">
            </div>
            <div class="form-group row mx-2">
              <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
              <label for="mx-address" class="col-form-label">Address</label>
              <input type="text" class="form-control" id="mx-address">
            </div>
            <div class="form-group row mx-2">
              <label for="mx-address-2" class="col-form-label">Address 2</label>
              <input type="text" class="form-control" id="mx-address-2">
            </div>
            <div class="form-group row mx-2">
              <label for="mx-address-3" class="col-form-label">Address 3</label>
              <input type="text" class="form-control" id="mx-address-3">
            </div>
            <div class="form-group row mx-2">
              <label for="mx-address-4" class="col-form-label">Address 4</label>
              <input type="text" class="form-control" id="mx-address-4">
            </div>
            <div class="form-group row mx-2">
              <span class="mandatory col-form-label" *ngIf="true">*&nbsp;</span>
              <label for="mx-postcode" class="col-form-label">Postcode</label>
              <input type="text" class="form-control" id="mx-postcode">
            </div>
            <div class="form-group row mx-2">
              <label for="mx-city" class="col-form-label">City</label>
              <input type="text" class="form-control" id="mx-city">
            </div>
            <div class="form-group row mx-2">
              <label for="mx-state" class="col-form-label">State</label>
              <input type="text" class="form-control" id="mx-state">
            </div>
          </form>
        </div>
        <div class="modal-footer d-flex">
          <div class="justify-content-start mr-auto">
            <button type="button" class="btn btn-warning" (click)="openDialog(modalCenter)">
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Previous
            </button>
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" data-target="#addrModal" (click)="modal.dismiss('Cross click')">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
    <!--   </div>
    </div>
  </div> -->
</ng-template>